/*fonts*/
@font-face {
    font-family: st;
    src: url(PressStart2P.ttf);
    font-size: 16pt;
}


/*animations*/
@keyframes glowtext {
    from {text-shadow: 1px 2px 4px rgba(255,0,214,0);}
    to {text-shadow: 1px 2px 4px rgba(255,0,214,1);}
}
@keyframes flicker {
    from {background: url(crt.png); opacity 1;}
    to {background: url(crt.png); opacity: 0;}
}
.glowtext {
    animation: glowtext .6s infinite;
}

/*crt effeect*/
#music, #music audio {
    display: none;
}
#crt-overlay {
    animation: flicker .1s infinite;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.3;
}
#nyjaOS {
    position: relative;
    z-index: 2;
    opacity: 0.8;
}


/*general*/
body {
    background: #808b76 url("wallpaper/wall-ver1.jpg") center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: "st",monospace;
}
a {
    text-decoration: underline;
    color: #141111; 
    cursor: pointer;
}
a:hover {
    background-color: rgba(0,0,0,.2);
}

/*taskbar*/
#bar {
    background: #929b96;
    color: ##141111;
    font-size: 16px;
    overflow: auto;
    border-top: 4px solid white;
    border-left: 4px solid #666;
    border-right: 4px solid #666;
    border-bottom: 4px solid #292626;
}
#bar #launcher {
    float: left;
    font-size: 18px;
    height: 32px;
    width: 120px;
    letter-spacing: -1px;
    border-top: 2px solid white;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-bottom: 2px solid #292626;
    margin: 2px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
}
#bar #launcher a {
    text-decoration: none;
    color: #094c6b;
    display: block;
}
#bar #status {
    height: 32px;
    float: right;
    text-align: right;
    font-size: 12px;
    border-bottom: 2px solid white;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-top: 2px solid #292626;
    margin: 2px;
    padding: 0 4px;
    
}

/*icons*/
#deskicons {
    width: 350px;
    padding: 50px 0 0 30px;
    overflow: auto;
}
#deskicons .icon {
    overflow: none;
    width: 130px;
    float: left;
    height: 120px;
    margin: 0 20px 0 0;
}
#deskicons .icon a {
    text-decoration: none;
    display: block;
    overflow: none;
    color: #e9f1ef;
    font-size: 10px;
}
#deskicons .icon a img, #deskicons .icon a span {
    display: block;
    margin: 0 auto;
    text-align: center;
}
#deskicons .icon a img {
    width: 60px
}
#deskicons .icon a span {
    text-shadow: 1px 2px rgba(0,0,0,.9);
}

/*default window*/
#nyjawindow {
    height: 400px;
    width: 700px;
    padding: 1em;
    font-size: 12pt;
    border-bottom: 2px solid white;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-top: 2px solid #292626;
    margin: 8px;
}
.scroll {
    overflow-x: hidden; 
    overflow-y: scroll;
}

